/* Universal Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
}

/* Body Styles */
body {
  background-color: hsl(212, 45%, 89%);
}

/* Typography */
h1 {
  font-size: 1.3rem;
  color: hsl(218, 44%, 22%);
  margin-top: 1em;
}

p {
  font-size: 0.938rem;
  color: hsl(220, 15%, 55%);
}

/* Layout & Container Styles */
.main-container {
  width: 100vw;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%; /* Adjusted width for larger screens */
  max-width: 400px; /* Max width for smaller screens */
  margin: auto;
  border-radius: 20px;
  padding: 1em;
}

.qr-code-block {
  width: 100%;
  border-radius: 20px;
}

.qr-code {
  width: 100%;
  border-radius: 20px;
}

.text-block {
  display: flex;
  flex-direction: column;
  gap: 1.2em;
  text-align: center;
}

/* Responsive Adjustments */
@media (min-width: 768px) { /* Adjustments for tablets and larger screens */
  .container {
    width: 70%; /* You can adjust this percentage based on your design needs */
  }
}

@media (min-width: 1024px) { /* Adjustments for desktop screens */
  .container {
    width: 50%; /* Adjusted width for desktop screens */
  }
}
